'context-menu':
  'atom-text-editor': [
    {
      'label': 'Extract Selection'
      'submenu': [
        {
          'label': 'As Constant'
          'command': 'extract-selection:as-const'
        },
        {
          'label': 'As Variable'
          'command': 'extract-selection:as-let'
        }
      ]
    }
  ]
